aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
certifi==2026.2.25
cffi==2.0.0
clickhouse-connect==0.14.0
cryptography==46.0.6
frozenlist==1.8.0
idna==3.11
lz4==4.4.5
multidict==6.7.1
prometheus_client==0.24.1
propcache==0.4.1
pycparser==3.0
pytz==2026.1.post1
urllib3==2.6.3
yarl==1.23.0
zstandard==0.25.0
colorama==0.4.6
sqlalchemy==2.0.28
clickhouse-sqlalchemy==0.3.2
python-dotenv==1.2.2
